body {
    margin: 30px;
    background-color: rgb(3, 29, 68);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
  
header {
    background-color: rgb(9, 78, 112);
    border-radius: 12px;
    color: white;
    padding: 20px;
    text-align: center;
}
main{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
    flex: 1;
}

section{
    background: rgb(239, 231, 220);
    color: black;
    padding: 20px;
    border-radius: 12px;
}

#endpoints{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    gap: 20px;
    padding: 20px;
}

#pruebas{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;

    grid-column: 2 / 4;
    padding: 20px;
}

#gridItems{
    display: grid;
    grid-column: 1;
    gap: 20px;
}

#gridUsers{
    display: grid;
    grid-column: 2;
    gap: 20px;
}

#resultados{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    gap: 20px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
th, td {
    border: 1px solid #ccc;
    background-color: #ecf0f1;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #cad0d2;
}

#forma{
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr;
    background: rgb(212, 198, 179);
    border-radius: 12px;
    padding: 20px;
}

.form-container {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 10px;
    align-content: center;
}

label {
    display: inline-block;
    width: 70px;
}

.result-box {
    padding: 1rem;
    background-color: #f3f3f3;
    font-family: monospace;
    white-space: pre-wrap;
    overflow-x: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

a, a:hover, a:active, a:visited { 
    color: white; 
}